.checkout-dgn{
    background: linear-gradient(-45deg, #fab59f , #fda5c7,#a6e7ff, #eafdf9);
    background-size: 400% 400%;
    height: 120vh;
    width: 100%;
    position: relative;
    animation:change 10s ease-in-out infinite;
}

.reg-div{
    background: #f5f5f5;
    padding: 50px;
    width: 50%;
}
.reg-div input{
    background: none;
    border: 2px solid rgb(189, 189, 189);
}

.reg-div h6{
    margin-top: 18px;
}
.payment-section{
    background-color: #fff9f0;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.height-form{
    height: 120vh;
}

@keyframes change {
    0%{
      background-position: 0 50%;  
    }
    50%{
        background-position: 100% 50%;  
      }
    100%{
        background-position: 0 50%;  
      }

}

@media (max-width: 700px) {

    .reg-div{
        width: 95%;
    }
    .checkout-dgn{
        height: 130vh;
    }
    .height-form{
        height: 130vh;
    }
}
@media (max-width: 800px) {

    .reg-div{
        width: 70%;
    }
    
}
@media (max-width: 500px) {

    .reg-div{
        width: 97%;
     }
   .checkout-dgn{
        height: 130vh;
    }
    .height-form{
        height: 130vh;
    }

}
@media (max-width: 330px) {

    .reg-div{
        width: 97%;
    }
    .checkout-dgn{
        height: 150vh;
    }
    .height-form{
        height: 150vh;
    }

}
